/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

body {
    margin: 0;
    height: 0;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
    background-color: rgb(242, 242, 242);
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-menu {
    display: none;
    background-color: white;
    position: fixed;
    width: 75%;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: visibility 0s, opacity 0.5s linear;
}

.fa-heart {
    color: red;
}

.primary-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #333545;
}

.primary-header a {
    text-decoration: none;
    color: white;
}

.logo-section {
    width: 25%;
    vertical-align: center;
}

.overlay,
.user-menu,
.search-section,
.auth-section,
.widget,
.movie-widget-list div:nth-child(3) {
    display: none;
}

.mobile-header {
    background-color: white;
    position: fixed;
    width: 100vw;
    bottom: 0;
}

.widget-card,
.movie-widget-card-footer {
    background-color: white;
}

.widget h4,
.widget p,
.movie-widget h4,
.movie-widget p {
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-widget h4,
.widget h4 {
    font-weight: 600;
}

.movie-widget {
    width: 90%;
    margin: 5%;
}

.movie-widget-card {
    width: 80%;
    margin: 2%;
}

.movie-widget-card-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .mobile-header {
        display: none !important;
    }

    .widget,
    .search-section,
    .auth-section,
    .movie-widget-list div:nth-child(3) {
        display: block;
    }

    .search-section {
        width: 75%;
    }

    .logo-section,
    .auth-section {
        width: 12%;
    }

    .widget {
        width: 20%;
        margin: 2%;
    }

    .movie-widget {
        width: 70%;
        margin: 2%;
    }

    .user-menu {
        width: 25%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
